.margen-superior-main {
    margin-top: 40px;
    padding: 20px;
}

.barbie {
    background-color: rgb(247, 120, 141);
}

.color-boton-registro {
    background-color: rgb(247, 120, 141);
    border-color:black; 
}

.color-boton-registro:hover{
    background-color: rgb(237, 54, 179);
    border-color:rgb(237, 54, 179); 
}